@font-face {
  font-family: 'TeXGyreAdventor';
  src: url('/fonts/TeXGyreAdventor-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TeXGyreAdventor';
  src: url('/fonts/TeXGyreAdventor-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TeXGyreAdventor';
  src: url('/fonts/TeXGyreAdventor-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
  /* background-color: #08090a; */
}
